<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Joshua Wyllie</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div id="topSection">
        <img id="userPhoto" src="profile-pic-cropped.jpg" alt="User Photo">
	<a id="userName">Joshua Wyllie</a> 
	<p class="subTitle lightText">software engineer</p>
    </div>
    <div id="description" class="lightText">
	    BSc Computer Science graduate who has interned at the search engine startup 'NoNoRank' while there and more recently at Solnet in Wellington developing and supporting software solutions for mostly government clients. Especially interested in machine learning and functional/alternative programming languages. 
    </div>

    <div id="links">
        <a class="link" href="cv-jwyllie.pdf" target="_blank">Resume</a>
        <a class="link" href="https://github.com/j-wyllie" target="_blank">GitHub</a>
        <a class="link" href="https://www.linkedin.com/in/joshua-wyllie-63332a118" target="_blank">LinkedIn</a>
        <a class="link" href="mailto:joshuawyllie@live.com" target="_blank">Email me</a>
	<div class="contactInfo lightText">
	    <p class="left contactItem">022 137 9514</p><p class="center contactItem"> - </p> <p class="right contactItem">joshuawyllie@live.com</p>
	</div>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>

<footer>
	<p id="footerText" class="lightText">see this website's repository <a href="https://github.com/j-wyllie/my-site">here</a></p>
</footer>
</html>
