<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Joshua Wyllie</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div id="topSection">
        <img id="userPhoto" src="profile-pic-cropped.jpg" alt="User Photo">
	<a id="userName">Joshua Wyllie</a> 
	<p class="subTitle lightText">software engineer</p>
    </div>
    <div id="description" class="lightText">Hello, I’m a full stack software developer with 3 years experience
and notable expertise in web technologies and React. In my free
time I like going to the gym, running, skiing (NZSIA qualified ski
instructor) as well as language learning. I’m personally interested in
machine learning and functional/alternative programming
languages, and exploring these through side projects (mostly
private repo’s).
    </div>

    <div id="links">
        <a class="link" href="cv-jwyllie.pdf" target="_blank">Resume</a>
        <a class="link" href="https://github.com/j-wyllie" target="_blank">GitHub</a>
        <a class="link" href="https://www.linkedin.com/in/joshua-wyllie-63332a118" target="_blank">LinkedIn</a>
        <a class="link" href="mailto:joshuawyllie@live.com" target="_blank">Email me</a>
	<div class="contactInfo lightText">
	    <p class="left contactItem">(+64) 022 137 9514</p><p class="center contactItem"> - </p> <p class="right contactItem">joshuawyllie@live.com</p>
	</div>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>

<footer>
	<p id="footerText" class="lightText">see this website's code <a href="https://github.com/j-wyllie/my-site">here</a></p>
</footer>
</html>
