/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bgColor:#1C1C1C;
    --accentColor: #E6E6E6;
    --linkColor: indianred;
    --font: 'Karla', sans-serif;
}

body{
    background-color: var(--bgColor);
    margin: 8px;
}

#topSection{
    margin-bottom: 1rem;
}

#userPhoto{
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 10px;
    border-radius: 50%;
}

#userName{
    color: var(--accentColor);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.lightText{
    color: #bbb;
    font-family: var(--font)
}

.subTitle{
    margin: 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#description{
    margin: 2rem auto;
    max-width: 1000px;
    text-align: center;
    color: var(--accentColor);
}
#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
}

.link:hover{
    background-color: var(--linkColor);
    color: var(--accentColor);
}

.contactInfo{
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.contactItem{
    width: 33%;
}

.left {
    text-align: left;
}
.center{
    text-align: center;
}	
.right{
    text-align: right;
}

footer{
    margin: 8px;
}
#footerText{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    text-align: right;
    color: var(--accentColor);
    font-size: 1rem;
}
footer a{
   color: var(--linkColor);
}
